
<head>
    <title>33C3 CleanMe!</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>

    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

    <script src="/public/js/jquery.js"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>