<html>
<head>
    <title>33C3 CleanMe!</title>
    <script src="/resources/js/highcharts.js"></script>
    <script src="/resources/js/jquery.js"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>