{% extends "layout.twig" %}

{% block content %}
    Bitte bewerte {{ name }}!
<form action="/rate/{{ id }}" method="post">
    <input type="hidden" name="satisfied" value="1" />
    <input type="submit" value="(: Zufrieden :)" />
</form>
<form action="/rate/{{ id }}" method="post">
    <input type="hidden" name="satisfied" value="0" />
    <input type="submit" value="): nicht zufrieden :(" />
</form>
</form>
{% endblock  %}